* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
/* tools */
.font-60{
    font-size: 60px;
}
/* nav */
.header{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 120px;
}
.nav{
    max-width: 1240px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav__logo{
    max-width: 220px;
    max-height: 68px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav__links{
    max-width: 811px;
    max-height: 68px;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 10px;
}
.nav__button{
    border-radius: 14px;
    border: 1px solid var(--Dark, #191A23);
    width: 231px;
    height: 68px;
}
.nav__meniu{
    display: none;
}
.nav__logo--img{
    width: 100%;
}
/* main */
.main{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    gap: 70px;
}
.main__conteiners{
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.main__button__button{
    width: 265px;
    height: 68px;
    border-radius: 14px;
    background: var(--Dark, #191A23);
    color: #ffffff;
}
.main__txt{
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}
.main__button{
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/* social medea */
.social{
    max-width: 1240px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.social__img--img{
    margin-left: 7px;
    margin-right: 7px;
}
.footer{
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer__wrep{
    display: flex;
    flex-direction: column;
    max-width: 1220px;
    gap: 50px;
    width: 100%;
    border-radius: 45px 45px 0px 0px;
    background: var(--Dark, #191A23);
    align-items: center;
    color: #ffffff;
    min-height: 430px;
    justify-content: center;
    gap: 50px;
    padding: 60px 55px;
}
.footer__fiest{
    max-width: 1120px;
    min-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer__links{
    max-width: 500px;
    min-height: 25px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}
.footer__media{
    max-width: 180px;
    height: 28px;
}
.footer__media--img{
    width: 100%;
}
.footer__seckend{
    display: flex;
    max-width: 1120px;
    justify-content: space-between;
    min-height: 184px;
    width: 100%;
}
.footer__button{
    border-radius: 7px;
    background: var(--Green, #B9FF66);
    padding: 7px;
    width: 126px;
}
.footer__contact{
    max-width: 332px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.footer__text{
    display: flex;
    flex-direction: column;
    gap: 27px;
    height: 185px;
}
.footer__registration{
    max-width: 634px;
    min-height: 184px;
    display: flex;
    gap: 22px;
    border-radius: 14px;
    background: #292A32;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.footer__email{
    border-radius: 14px;
    border: 1px solid #FFF;
    width: 285px;
    height: 67px;
    padding: 35px 22px;
}
.footer__button2{
    border-radius: 14px;
    background: var(--Green, #B9FF66);
    width: 285px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__copyrait{
    max-width: 1120px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 20px;
    height: 78px;
    border-top: solid #FFF 2px;
}

/* media cueri*/
@media screen  and (max-width: 1070px){
    .nav__links{
        display: none;
    }
    .nav__meniu{
        display: flex;
        margin-right: 10px;
        align-items: center;

    }
    .main__button{
        align-items: center;
    }
    .header{
        height: 70px;
        align-items: center;
    }
    .main__conteiners{
        gap: 30px;
        margin-top: 40px;
        justify-content: center;
    }
    .main__button__button{
        width: 390px;
        height: 68px;
    }
    .social{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .footer__fiest{
        flex-direction: column;
        justify-content: center;
        gap: 37px;
    }
    .footer__links{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .footer__media{
        display: none;
    }
    .footer__text{
        text-align: center;
        align-items: center;
    }
    .footer__seckend,.footer__registration{
        flex-direction: column;
    }
    .footer__copyrait{
        justify-content: center;
    }
    .footer__seckend{
        align-items: center;
        max-width: 390px;
        gap: 20px;
    }
}
@media screen  and (max-width: 600px){
    .font-60{
        font-size: 43px;
    }
    .main__txt{
        max-width: 350px;
    }
    .nav__logo{
        max-width: 144px;
        height: 25px;
    }
    .main__img{
        width: 360px;
        height: 310px;
    }
    .main__img--img{
        max-width: 100%;
        height: 100%;
    }

}

